{{ $item := . }}

<div style = "padding-left:15px;">

<h4>
  <i class="fas fa-cube"></i>
   {{ if .dev }}
      &nbsp; {{ .name }}: {{ .title}}
   {{else}}
      <a href="https://kvasilopoulos.github.io/{{ $item.name }}/" target="_blank" rel="noopener">
      &nbsp; {{ .name }}: {{ .title}}
      </a>
    {{end}}
</h4>

  <p style="font-size:16px;">
    {{with .description}} {{ . | markdownify | emojify}} {{end}}
  </p>

  <div class="row">
    <div class="column">
      <p>
        <a href="https://cran.r-project.org/package={{ $item.name }}" target="_blank" rel="noopener">
          <img src="https://www.r-pkg.org/badges/version/{{ $item.name }}" alt="CRAN_Status_Badge" />
        </a>
      </p>
    </div>
    
    <div class="column" style="padding-left: 10px;">
      {{ if .dev }}
        <p style = "padding-right:105px;"> </p>
      {{else}}
        <p>
          <img src="https://cranlogs.r-pkg.org/badges/grand-total/{{ $item.name }}" alt="CRAN_Status_Badge" />
        </p>
      {{end}}
    </div>
    
    
    <div class="column">
      <a style="margin-left: 300px;margin-top:-0.5rem" class="btn btn-outline-primary mr-1 btn-sm"
        aria-label="Github kvasilopoulos/{{ .name }}"
      href="https://github.com/kvasilopoulos/{{ .name }}" target="_blank" rel="noopener">
        <i class="fab fa-github mr-1"></i>
        @kvasilopoulos/{{ .name }}
      </a>
    </div>

      <!-- <a href="https://github.com/kvasilopoulos/{{ .name }}" class="btn-primary"> @kvasilopoulos/{{ .name }}</a> -->
      <!-- <p style="padding-left: 300px;">
        <a class="button" href="https://github.com/kvasilopoulos/{{ .name }}"
          data-size = "large" aria-label="Github kvasilopoulos/{{ .name }}"
          data-color-scheme="no-preference: light; light: light; dark: dark;"
          >  @kvasilopoulos/{{ .name }}</a> -->
      
    
  </div>
</div>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>